.google-button {
  padding: 7px 30px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
}

.form-login {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .form-login {
    width: 80%;
  }
}
